<?php
${DOLLAR}AUTOCONFIG = array(
  "dbtype" => "${OWNCLOUD_DB_TYPE}",
  "dbname" => "${OWNCLOUD_DB_NAME}",
  "dbuser" => "${OWNCLOUD_DB_USERNAME}",
  "dbpass" => "${OWNCLOUD_DB_PASSWORD}",
  "dbhost" => "${OWNCLOUD_DB_HOST}",
  "dbtableprefix" => "${OWNCLOUD_DB_PREFIX}",

  "adminlogin" => "${OWNCLOUD_ADMIN_USERNAME}",
  "adminpass" => "${OWNCLOUD_ADMIN_PASSWORD}",

  "directory" => "/app/data",
);
