<?php
$CONFIG = array(
  "loglevel" => 3,
  "apps_paths" => array(
    0 => array(
      "path" => OC::$SERVERROOT . "/apps",
      "url" => "/apps",
      "writable" => false
    ),
    1 => array(
      "path" => OC::$SERVERROOT . "/custom",
      "url" => "/custom",
      "writable" => true
    )
  ),
  "trusted_domains" => array(
    0 => "localhost",
    1 => "{{ envString "DOMAIN" }}",
    2 => "{{ envString "IPADDRESS" }}"
  )
);
